
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
  background-color: white;
}

.dark-mode {
  background-color: black;
  color: white;
}

h1{
    text-align: center;
}

  /* Add a hover effect if you want */
  .fab:hover {
    opacity: 0.1;
  }
  
  /* Set a specific color for each brand */
  
  /* Icons for YT, Twitter, Facebook */
  .fab {
    background: black;
    color: white;
    font-size: 20px;
  }


  /* this is card setting */

.card {
  background-color:white;  
  display:inline-block;
}

.py-1{
  margin: auto;
}

.inner{
  overflow: hidden;
  
}

.inner img{
  transition: 2s ease;
}

.inner:hover img {
  transform: scale(1.5);
}


.footer {
  background-color: black;
  text-align: left;
  color: white;
  font-size: 20px;
  display: table-row;
  height: 0;
}




